body {
    
}
MenuItem {
    margin-left:100px;
    margin-right:100px;
}

#CabeceraPagina {
    height:80px;
    width:auto;
    background-color:gray;
}
#OpcionesPagina {
    height:35px;
    width:auto;
    background-color:darkgray;
}
#ContenidoPagina {
    height:auto;
    width:auto;
    text-align:center;
    background-color:darkseagreen;
}
#PiePagina {
    height:50px;
    width:auto;
    background-color:darksalmon;
}